.root {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background: rgb(199 197 209 / 50%);
  box-sizing: border-box;
}

.display {
  display: flex;
}

.root.display .modal {
  transform: translateY(0);
}

.modal {
  background: #fff;
  width: 800px;
  height: 600px;
  box-shadow: 0px 0px 6px 1px rgb(199 197 209 / 100%),
    0px 0px 6px 5px rgb(199 197 209 / 10%) inset;
  z-index: 1000;
  transform: translateY(100px);
  transition: all 0.25s;
  display: grid;
  grid-template-rows: 50px 1fr;
  overflow: hidden;
}

.modal > div {
  width: 95%;
  margin: auto;
  overflow: hidden;
  height: 100%;
}

.modalHeader {
  margin: 0 12px;
  border-bottom: 1px solid rgb(199 197 209 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.modalHeader > span {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modalHeader > span:hover {
  cursor: pointer;
}

.modalContent {
  overflow: auto !important;
  padding: 16px;
  padding-bottom: 0;
  display: grid;
  grid-template-rows: 1fr 50px;
}

.modalFooter {
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  */
  border-top: 1px solid rgb(199 197 209 / 50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.modalFooter > div {
  width: 100%;
  text-align: center;
  padding: 12px;
  transition: all 0.2s;
}

.button:hover {
  background-color: rgb(103 32 44 / 60%);
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
}

/* Modal content */
.singleChildInfo {
  margin: 12px;
  padding: 8px 0;
}

.singleChildInfo:first-of-type {
  margin-top: 0;
}

.childname {
  margin: 8px 0;
}

.childname > span {
  text-transform: capitalize;
  font-weight: 500;
}

.productsContainer {
  text-align: center;
}

.priceLine {
  float: right;
  font-weight: 500;
  padding-bottom: 8px;
}

.contentRoot {
  height: 100%;
}

.tableOfProductBill {
  height: max-content;
}

.billTable {
  width: 100%;
  border-spacing: 0;
}

.billTable td {
  border: solid 0.5px rgb(199 197 209 / 100%);
}

/* End Modal content */

@media screen and (max-width: 600px) {
  .modalFooter {
    display: flex;
    flex-direction: column;
  }

  .modalFooter > div {
    width: unset;
    border-bottom: 1px solid rgb(199 197 209 / 50%);
  }
}

@media screen and (max-width: 1000px) {
  .modal {
    width: 100%;
    height: 100%;
  }

  .modalContent {
    padding: 8px;
  }
}
