label.labelRoot {
  display: flex;
  align-items: center;
  margin: 16px 0;
  height: max-content;
  padding: 8px;
  background-color: none;
}

.input {
  height: 0;
  width: 0;
  opacity: 0;
}

.checkbox {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  background-color: rgb(199, 197, 209);
}

label.labelRoot:hover .input~.checkbox {
  background-color: rgb(103 32 44 / 60%);
  cursor: pointer;
}

label.labelRoot .input:checked~.checkbox {
  background-color: rgb(103, 32, 44);
}

label.labelRoot>span {
  margin-right: 16px;
}

label.labelRoot:hover,
label.labelRoot.selected {
  background-color: rgb(103 32 44 / 10%);
}

@media only screen and (max-width: 600px) {
  .checkbox {
    height: 14px;
    width: 14px;
  }

  label.labelRoot>span {
    margin-right: 8px;
  }
}
