@font-face {
  font-family: 'CustomFont';
  src: local('CustomFont'),
    url('./fonts/healtheworld/Heal The World.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  box-sizing: border-box !important;
}

::-webkit-scrollbar {
  width: 0;
}

.submitBtn {
  position: relative;
  display: block;
  padding: 8px 16px;
  float: right;
  font-size: 14px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
  background: none;
  font-weight: 500;
  margin: 12px 0;
}

.submitBtn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(103, 32, 44);
  height: 0%;
  width: 100%;
  transition: 0.6s;
  border-radius: 0 0 50% 50%;
  z-index: -1;
}

.submitBtn.disabled {
  background-color: rgba(103, 32, 44, 0.1);
  font-weight: unset;
}

.submitBtn:hover:not(.disabled) {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  color: #fff;
}

.submitBtn:not(.disabled):hover::before {
  height: 180%;
}

/* 
Custom Font : Heal the world from https://www.1001fonts.com/christmas-fonts.html?page=1
*/